/*PORTADA*/

.portada {
  background-color: rgb(242, 250, 242);
  padding-top: 10vh;
}

/*HEADER*/

.tituloHeader {
  text-align: center;
}

.header {
  display: flex;
  padding: 0 5vh;

}
.imagenHeader {
  text-align: center;
  flex: 1;
  object-fit: cover; 
}

.imagenLateralHeader{
  width: 50%;
}

.textoHeader {
  width: 50%;
  flex: 1;
}

.textoHeader h3 {
  font-size: 27px;
}

.textoHeader p {
  text-align: justify;
  font-size: 24px;
  padding-bottom: 5vh;
}

@media screen and (max-width: 1300px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 5vh;
  }

  .textoHeader {
    width: 100%;
  }

  .textoHeader h3 {
    text-align: center;
  }

  .imagenHeader {
    width: 100%;
    margin-bottom: -5vh;
    display: flex;
    justify-content: center;
  }

  .imagenLateralHeader {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

/*PARALLAX*/

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  font-size: 24px;

  margin-bottom: 5vh;
  padding: 5vh;
}

/*PRODUCTOS*/

.tituloProductos {
  text-align: center;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divProductoIndex {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  min-width: 30vh;
}

.tituloProductoIndex {
  font-size: 18px;
  margin-bottom: 10px;
}

.imagenProductoIndex {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.descripcionProductoIndex {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.precioProductoIndex {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.botonCarrito {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonCarrito:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .divProductoIndex {
    width: calc(50% - 20px);
  }

  .divProductoIndex:nth-child(odd),
  .divProductoIndex:nth-child(even) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*CONSULTAS*/

.consultas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10vh;
}

.tituloConsultas {
  text-align: center;
}

.razones {
  width: calc(25% - 150px);
  min-width: 30vh;
  margin-bottom: 5vh;
}

.imgRazones {
  width: 100%;
}

.tituloRazones {
  text-align-last: center;
  font-weight: bold;
}

.textoRazones {
  text-align: justify;
}

@media screen and (max-width: 768px) {

  .razones {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*FUNCIONA*/

.funciona {
  height: auto;
  background-color: rgb(180, 207, 184);
  padding: 5vh;
  margin-bottom: 5vh;
}

.tituloFunciona {
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.titulinFunciona {
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: left; 
}

.textoFunciona {
  color: #3b3a3a;
  text-align: left; 
  line-height: 1.6;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.funciona div {
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; 
}

.numeroPaso {
  color: #e74c3c;
  font-weight: bold;
  font-size: 22px;
  margin-right: 10px;
}

/*ACORDEON*/

.acordeonDiv {
  padding-left: 5vh;
  padding-right: 5vh;
}

.acordeon {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.acordeonItem {
  border-bottom: 1px solid #ccc;
}

.acordeonTitulo {
  background-color: #f5f5f5;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.acordeonTitulo:hover {
  background-color: #e2e2e2; 
}

.acordeonContenido {
  background-color: #f5f5f5;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 0.6s ease-out; 
}

.acordeonContenido.active {
  max-height: 500px; 
  opacity: 1;
}

/*FOOTER*/

.footer {
  margin-top: 50px;
  background-color: #f2f2f2;
  color: #333;
  padding: 4vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 3px solid rgb(180, 207, 184);
}

.footer-section {
  flex: 1;
  margin-right: 30px;
  margin-bottom: 20px;
}

.footer-section h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.footer-section ul li a i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.footer-section ul li a:hover {
  color: rgb(180, 207, 184);
}

.footer-form {
  display: flex;
}

.footer-form input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 180px;
}

.footer-form button {
  padding: 8px 15px;
  background-color: rgb(180, 207, 184);
  border: none;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}

.footer-form button:hover {
  background-color: rgb(69, 155, 83);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

.footer-links {
  font-size: 14px;
  margin-top: 10px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: rgb(69, 155, 83);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-bottom {
    margin-top: 20px;
  }
}
