.containerProductos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .h1Productos {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .divProducto {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tituloProducto {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .imagenProducto {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
  }
  
  .descripcionProducto {
    margin-bottom: 15px;
  }
  
  .precioProducto {
    font-size: 18px;
  }
  
  .pProductos {
    margin: 0;
  }
  
  .botonCarrito {
    background-color: #618a5d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .botonCarrito:hover {
    background-color: #385236;
  }
  
  /* Estilos para el carrito de compras */
.carritoProducto {
  position: fixed;
  margin: 10px;
  padding: 10px;
  width: 380px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.carritoImagenProducto {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Estilos para la lista de elementos en el carrito */
.ulCarritoProducto {
  list-style: none;
  padding: 0;
}

.spanCarritoProducto{
  margin: 2px;
  text-align: center;
}
/* Estilos para los elementos individuales en el carrito */
.ulCarritoProducto li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* Estilos para los botones en el carrito */
.botoneliminarCarritoProducto {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

.botoneliminarCarritoProducto:hover {
  background-color: #a72d24;
}

/* Estilos para el botón "Finalizar compra" */
.botonVerCestaProducto {
  width: 100%;
  background-color: #618a5d;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.botonVerCestaProducto:hover {
  background-color: #385236;
}

.ordenarProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.botonMenor,
.botonMayor {
  background-color: #618a5d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 10px; 
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s; 
  margin-bottom: 10px;
}


.botonMenor:hover,
.botonMayor:hover {
  background-color: #385236;
}

@media screen and (max-width: 750px) {
  .carritoProducto {
    display: none; 
  }
}