.resetPasswordContainer {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.resetPasswordContainer h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.resetPasswordForm {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px;
}

.resetPasswordForm label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.resetPasswordForm input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 94%; 
}

.resetPasswordForm button {
  padding: 10px 15px;
  background-color: #618a5d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  grid-column: 1 / -1; 
}

.resetPasswordForm button:hover {
  background-color: #385236;
}

.resetPasswordForm p {
  margin-top: 10px;
  font-size: 14px;
}